.ser-icon{
    color: #18d26e;
    font-size: 30px;
}
header nav ul li a{
    font-size: 20px !important;
}
.font1{
    font-family: 'Cairo', sans-serif !important;
}
.font2{
    font-family: 'Amiri', serif;

}